$primary: #3D56A6;
$gray-blue: #6C798F;
$white: #ffffff;
$light-gray: #EBEBF0;
$gray: #333333;

$font-default: 14px;
$font-xs: 12px;
$font-small: 16px;
$font-medium: 18px;
$font-large: 20px;
$line-height: 22 / 14;

$spacer: 12px;

$radius: 4px;